* {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}